@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-[90rem] px-4 sm:px-6 lg:px-8;
  }
  .container-padding-only {
    @apply mx-auto w-full px-4 sm:px-6 lg:px-8;
  }
}

.animate-button-loading {
  background: white;
  background-clip: padding-box;
  border: solid 2px transparent;
  color: rgb(151, 151, 151);
}

.animate-button-loading:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: linear-gradient(to right, rgb(190, 190, 190), rgb(214, 214, 214));
  background-size: 400%;
  background-position: 0%;
  animation: border-loading 1s ease-in-out alternate infinite;
}

@keyframes border-loading {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.listing-filters-container {
  pointer-events: none;
}

.listing-filters-container > * {
  scroll-snap-align: center;
}
.listing-filters-container > * > * {
  pointer-events: auto;
}

/* For Chrome, Safari and Opera */
.visually-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Internet Explorer and Edge */
.visually-hide-scrollbar {
  -ms-overflow-style: none;
}

/* For Firefox */
.visually-hide-scrollbar {
  scrollbar-width: none;
}
/* Set the scrollbar track color */
.transparent-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Set the scrollbar corner color */
.transparent-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
